h1
            {
                color:royalblue;

                background-color: yellow;
                font-family: roboto;
                font-size: 35px;
            }


            
            {
                text-decoration-color:rgb(231, 32, 32);
                background-color: yellow;
                font-family: roboto;
                font-size: 35px;
            }



body{
    background-image: url("goat.jpeg");
    background-size:cover;
}

.button{
   color:blueviolet;
   background-color:yellowgreen;
   text-align:center;
   border-radius:2px;
   border-color:black;


}